[
  {
    "ParameterKey": "BuildkiteOrgSlug",
    "ParameterValue": "care-monkey"
  },
  {
    "ParameterKey": "BuildkiteAgentToken",
    "ParameterValue": "TokenGoesHere"
  },
  {
      "ParameterKey": "InstanceType",
      "ParameterValue": "t2.small"
  }
]