[
    {
        "ParameterKey": "KeyName",
        "ParameterValue": "ssh-buildkite"
    },
    {
        "ParameterKey": "SecretsBucket",
        "ParameterValue": "caremonkey-buildkite"
    },
    {
        "ParameterKey": "BuildkiteOrgSlug",
        "ParameterValue": "care-monkey"
    },
    {
        "ParameterKey": "BuildkiteAgentToken",
        "ParameterValue": "TOKEN-GOES-HERE"
    },
    {
        "ParameterKey": "BuildkiteApiAccessToken",
        "ParameterValue": "TOKEN-GOES-HERE"
    },
    {
        "ParameterKey": "InstanceType",
        "ParameterValue": "c4.large"
    },
    {
        "ParameterKey": "AgentsPerInstance",
        "ParameterValue": "4"
    },
    {
        "ParameterKey": "ImageId",
        "ParameterValue": "ami-27bf7247"
    },
    {
        "ParameterKey": "MinSize",
        "ParameterValue": "3"
    },
    {
        "ParameterKey": "ScaleUpAdjustment",
        "ParameterValue": "1"
    }
]
